{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/fonts/linecons/css/linecons.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/xenon-core.css' %}">
    <link rel="stylesheet" href="{% static 'css/xenon-forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/xenon-components.css' %}">
    <link rel="stylesheet" href="{% static 'css/xenon-skins.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.css' %}">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/detail.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
    <![endif]-->

</head>

<body>

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-10 col-sm-12 col-xs-12">
            <section class="latest section">
                <div class="section-inner wrap-parent">
                    <h2 class="heading">编写博文</h2>

                    <div class="content">

                        <hr class="divider"/>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="blogTitle">博客主题</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="blogTitle" placeholder="请填写博客主题" type="text">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="blogKeys">关&nbsp;&nbsp;键&nbsp;&nbsp;字</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="blogKeys" placeholder="博客关键字，圆角逗号分隔" type="text">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="blogCatalog">博客分类</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-4">
                                        <select id="blogCatalog" class="form-control">
                                            {% for category in blog_categories %}
                                                <option name="{{ category.name }}"
                                                        value="{{ category.category_id }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" id="category-name"
                                               placeholder="输入新的分类名称">
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="button" id="create-category"
                                               onclick="onCategoryCreate()"
                                               value="创建分类">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                                <textarea style="overflow:visible" name="blogEditor" id="editor" rows="10"
                                          cols="80"></textarea>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <input class="form-control" type="button" id="publish" value="发表" onclick="doSubmit();">
                                <div class="form-group-separator"></div>
                                <input class="form-control" type="button" id="saveDraft" value="保存至草稿箱"
                                       onclick="alert('保存到草稿箱(开发中)');">
                            </div>
                        </form>

                    </div>
                </div>
            </section>
        </div>
        <div class="secondary col-md-2 col-sm-12 col-xs-12">
            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">我的基本信息</h2>
                    <div class="content">

                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<!-- Javascript -->
<script type="text/javascript" src="{% static 'js/jquery-2.2.1.min.js ' %}"></script>
<script type="text/javascript" src="{% static 'pure/ckeditor4.5.7/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    /**
     * 创建博客的分类
     */
    function onCategoryCreate() {
        alert('获取到需要进行创建的分类：' + $('#category-name').val());
        $.ajax({
            url: "{% url 'blog:createCategory' request.session.host %}",
            method: 'POST',
            dataType: 'json',
            data: {
                categoryName: $('#category-name').val()
            },
            success: function (resp) {
                if (resp.error == 'success') {
                    alert('博客分类创建成功');
                    refreshCategory($('#category-name').val(), resp.category_id);
                } else {
                    alert('博客分类创建失败' + resp.msg);
                }
            },
            error: function () {
                alert('请求失败');
            }
        })
    }

    function refreshCategory(name, category_id) {
        try {
            var categorySel = $('#blogCatalog');
            categorySel.html(categorySel.html() + '<option name=' + name + ' value="{{ category_id }}">' + name + '</option>');
        } catch (e) {
            alert(e.message);
        }
    }

    function doSubmit() {
        $.ajax({
            url: '{% url 'blog:publishBlog' request.session.host %}',
            method: 'POST',
            dataType: "json",
            data: {
                blogTitle: $('#blogTitle').val(),
                blogCategory: $("#blogCatalog").find("option:selected").val(),
                blogContent: CKEDITOR.instances.editor.getData()
            },
            success: function (req) {
                if (req.error == 'success') {
                    {% with host as host %}
                        window.location.href = "{% url 'blog:blogCatalog' host '全部' 1 %}";
                    {% endwith %}
                    alert('发布成功');
                } else {
                    alert('提交失败:' + req.msg);
                }
            },
            error: function () {
                alert('请求失败');
            }
        });
    }
</script>
<script>
    var oCKeditor = CKEDITOR.replace('blogEditor', {
        customConfig: '{% static 'js/blog_ckeditor_config.js' %}'
    });

    oCKeditor.on('instanceReady', function (event) {
        var editor = event.editor;
        setTimeout(function () {
            // Delay bit more if editor is still not ready.
            if (!editor.element) {
                setTimeout(arguments.callee, 100);
                return;
            }
            event.removeListener('instanceReady', this.callee);
            if (editor.name == 'content') {
                editor.resize(editor.container.getStyle('width'), CKEDITOR.document.getById('cke_' + 'content').getParent().$.offsetHeight);
            }
        }, 0);
    }, null, null, 9999);
</script>

</body>
</html>
